tests/
vkcupp/
logs/

examples/Du/*
!examples/Du/*.py
!examples/Du/*.sh
!examples/Du/misc/

# python builds
__pycache__/
.ipynb_checkpoints/
build/
*.egg-info/

# writing files
*.dat
*.csv
log*
*.out
*.err